attrs==23.1.0
colorama==0.4.6
Cython==3.0.3
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
numpy==1.26.0
pandas==2.1.1
prettytable==3.9.0
python-dateutil==2.8.2
pytz==2023.3.post1
referencing==0.30.2
rpds-py==0.10.4
six==1.16.0
termcolor==2.3.0
tzdata==2023.3
wcwidth==0.2.8
